*{
    margin: 0;padding: 0;
}
#basdroite{
    /* background: yellow; */
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.haut{
    color: red;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;

}