*{
    margin: 0;padding: 0;
    font-family:  Tahoma, sans-serif;
}
#catalogue{
    width: 80%;
    min-height: 600px;
    /* background-color: rgb(235, 232, 232); */
    margin: 0 auto;
    /* text-align: center; */
    /* font-size: 0; */
}

.bordure{
    border: 1px solid black;
}
.produit{
    width: calc(33.33% - 7px) ;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    /* border: solid; */

}
.image{
    /* height: 350px; */
    width: 100%;
}
.image > img{
width: 100%;
}
.info{
    width: 100%;
}
.info p{
    padding: 5px;

}
.text-info{
    font-size: 16px;
}
.text-price{
    font-size: 14px;
    font-weight: bold;
}
.promo{
    color: green;
}
.old-price{
    text-decoration: line-through;
    color: rgb(73, 73, 73);
}
.image1{
    
}
.image2{
display: none;
}
.produit:hover .image1{
    display: none;
}
.produit:hover .image2{
    display: block;
}
.produit:hover .info{
    text-align: center;
}
.produit:hover .promo{
    color: red;
}
.produit:hover{
box-shadow: 1px 1px 4px black;
}
#header{
    width: 100%;
    min-height: 100px;
    
}
#intro{
    width: 100%;
    height: 100vh;
    
}
#logo{
    float: left;
    width: 200px;
    height: 80px;
}
#menu{
    float: right;
    width: 600px;
    height:80px;
}