

*{
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
ul{
    list-style: none;
 
    margin-top: 0;
    font-size: 0;
    padding-left: 0;
    background-color:rgb(26, 25, 25);
    text-align: center;
    box-shadow: 0px 1px 4px black;
 
}
ul li{
/* border: solid 2px black; */
display: inline-block;


}
ul li a {
    background: rgb(26, 25, 25);
  display: inline-block;
height: 30px;
line-height: 30px;
padding: 0 10px;
  font-size: .9rem;
  color: white;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-variant: small-caps;
    
}
ul li a:hover{
background: rgb(56, 56, 56);
border-bottom: 4px solid red;
}