html{
    font-size: 20px;
}
*{
    margin: 0;padding: 0;
}
ul{
    background: yellow;
    list-style: none;

    background: rgb(7, 7, 7);
    font-size: 0;
    text-align: center;
    box-shadow: 0px 1px 6px 0 rgb(29, 28, 28);
}
li{
    /* border: solid #000000 2px; */
display: inline-block;
/* margin: 0 20px; */
 
}
a{
    padding: 5px;
    display: block;

    text-decoration: none;
    color: rgb(249, 229, 211);
    font-size: 1rem;
   /* word-spacing: 10px; */
}
a:hover{
  background-color: black;  
  color: red;
  transition: 1s;
}
div{
    background: black;
    color: white;
    display: none;
    /* visibility: hidden; */
}
span{
    background-color: red;
    color: white;
    display: none;
   

}