
html{
    font-size: 20px;
    
}
a:hover{
    background: orange;
    font-size: 2em;
    
}
a:focus{
    background: purple;
    color: white;
}
a:active{
    color: red;
}
a:visited{
    color: green;
}
a:link                                                                  {
    background: skyblue;
}
img{
    width: 100%;
    height: 50vh;
}
h2,h1:hover{
    color: rgba(170, 0, 0, 0.40);
    background-color: rgba(255, 198, 255, 1);
}

h2{
    font-size:2rem;
    
}
div{
    background-color: green;
    width: 1000px;
    font-size: 20px;
}
p{
    border:  red 2px solid;
    background: yellow;
    /* text-transform:uppercase ; */
    padding: 16 10px ;
    /* border-radius: 50%;
    height: 400px; */
    text-align: center;
    width: 50%;
    font-variant: small-caps;
    font-size: 2rem;

}
