*{
    padding: 0;
    margin: 0;
}
ul{
    background-color: rgb(52, 51, 51);
    list-style: none;
   
}
li{
    /* border: solid 2px rgb(13, 210, 26); */
    display: inline-block;
    padding: 10px;
}
li:hover{
    background: black;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}